@import "/ui/_Theme.scss";

button {
    padding: 20px;
    background-color: rgba( white, 0.05 );
    margin: 4px;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    flex-grow: 1;
    min-width: 250px;

    &:hover {
        background-color: rgba( white, 0.15 );
    }

    color: white;
}

iconpanel {
    font-family: MaterialIcons;
    font-size: 24px;
    margin-right: 8px;
}

.title {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 32px;
}

.debug-menu {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba( black, 1.0 );
    height: 250px;
    z-index: 1000;
    flex-direction: column;
    transform: translate( 0 50px );
    opacity: 0;
    padding: 25px;
    transition: all 150ms ease;

    button, label {
        flex-shrink: 0;
    }

    &.visible {
        transform: translate( 0 );
        pointer-events: all;
        opacity: 1;
    }

    .buttons {
        overflow: scroll;
        flex-wrap: wrap;
        flex-direction: row;
    }
}
