.main-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: all;
    background-color: #5a00a9;
}

text {
    font-family: Ibarra Real Nova;
    color: white;
    font-size: 16px;
}

hr {
    flex-grow: 1;
    padding: 4px 0;
}

.card {
    aspect-ratio: 0.714;
    width: 64px;
    background-color: #031b63;
    margin: 0 2px;
    border-radius: 4px;
}
