@import "/UI/_Theme.scss";

.outer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.main-panel {
    height: 1080px;
    width: 1920px;
}

text, label {
    font-family: $font;
    color: white;
    font-weight: 700;
    font-size: $font-normal;
}

icon, iconpanel {
    font-family: fa6-solid;
    color: white;
}

hr {
    flex-grow: 1;
    padding: 4px 0;
}

.card {
}
