@import "/UI/_Theme.scss";

.outer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background: linear-gradient( to bottom, #000000, #00000000 25%, #00000000 75%, #000000 );
    background-image-tint: rgba( white, 0.25 );
}

.main-panel {
    height: 1080px;
    width: 1920px;
}

text, label {
    font-family: $font;
    color: white;
    font-weight: $weight-normal;
    font-size: $font-normal;
}

icon, iconpanel {
    font-family: fa6-solid;
    color: white;

    &.solid {
        font-family: fa6-solid;
    }

    &.regular {
        font-family: fa6-regular;
    }

    &.brand {
        font-family: fa6-brands;
    }
}

hr {
    flex-grow: 1;
    padding: 4px 0;
}

.card {
}

.wip {
    position: absolute;
    top: $safe-area-y;
    left: 50%;
    opacity: 0.25;
    transform: translateX(-50%);
    text-transform: uppercase;
}
