@import "/UI/_Theme.scss";

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background: linear-gradient( to right, #000000ee, #00000000 );
    backdrop-filter: blur( 50px );
    z-index: 10;
    opacity: 0;
    transition: all 150ms ease;

    &.visible {
        opacity: 1;
        pointer-events: all;

        .menu-inner {
            transform: translate( 0 );
        }
    }
}

.menu-inner {
    height: 1080px;
    width: 1920px;
    padding: 100px 0;
    align-items: stretch;
    justify-content: flex-start;
    transform: translate( -50px );
    transition: all 150ms ease;
}

.left {
    height: 100%;
    width: 350px;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
}

.logo {
    aspect-ratio: 2.26;
    background-size: contain;
    background-repeat: no-repeat;
}

button {
    background-color: black;
    padding: 10px 25px;
    margin: 5px 0;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 250ms ease;

    &:hover {
        background-color: gray;
    }

    iconpanel {
        width: 16px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 32px;
    }
}
