@using Sandbox.UI;
@using System;
@namespace Poker.UI

<root class="ranking @Class()">
	
	<div class="row gradient">
		<plabel class="value">@Ranking()</plabel>
	</div>
	
</root>

@code
{
	string Class()
	{
		if (Ranking() == "None" || Ranking() == "N/A")
			return "";

		return "visible";
	}

	string Ranking()
	{
		if (PokerGame.Instance is not PokerGame game)
			return "N/A";

		if (Game.LocalPawn is not Player player)
			return "N/A";

		return $"{game.RankPlayerHand(player, out int _).ToDisplayString()}";
	}

	protected override int BuildHash()
	{
		return HashCode.Combine(Ranking());
	}
}
