<link rel="stylesheet" href="Controls.scss" />

<div class="controls">

    <div @ref="PlayControlsPanel" class="play-controls">
        <inputhint btn="fold">Fold</inputhint>
        <inputhint btn="adjust_amount">Raise / Lower Amount</inputhint>

        <row>
            <text @ref="ActionLabel">Action</text>
            <text>(</text>
            <money @ref="ValueLabel">Test</money>
            <text>)</text>
            <inputhint @ref="CallHint" btn="submit"></inputhint>
        </row>
    </div>
    
    <hr />

    <inputhint btn="your_cards">Your Cards</inputhint>
    <inputhint btn="community_cards">Community Cards</inputhint>

</div>