@import "/UI/_Theme.scss";

.controls {
    position: absolute;
    bottom: $safe-area-y;
    right: $safe-area-x;
    flex-direction: column;
}

.play-controls {
    flex-direction: column;
    opacity: 0;
    transition: opacity 150ms ease;
    font-size: $font-normal;
    text-shadow: $text-shadow;

    &.visible {
        opacity: 1;
    }
}

row {
    align-items: center;
    justify-content: flex-end;

    text:first-child {
        margin-right: 8px;
    }

    text:nth-child(4) {
        margin-right: -4px;
    }
}
