<link rel="stylesheet" href="Controls.scss" />

<div class="controls">

    <div @ref="PlayControlsPanel" class="play-controls">
        <inputhint btn="fold">Fold</inputhint>
        <inputhint btn="all_in">All In</inputhint>
        <inputhint btn="adjust_amount">Raise / Lower Amount</inputhint>
        <inputhint @ref="ActionHint" btn="submit">Call ($69)</inputhint>
    </div>

    <hr />

    <div @ref="CameraControlsPanel" class="camera-controls">
        <inputhint btn="your_cards">Your Cards</inputhint>
        <inputhint btn="community_cards">Community Cards</inputhint>
    </div>

    <hr />

    <inputhint btn="menu">Menu</inputhint>

</div>