@import "/UI/_Theme.scss";

.input-hint {
    align-items: center;
    flex-direction: row;

    .radial-fill {
        display: none;
    }

    &.is-hold {
        &.using-controller {
            .radial-fill {
                position: absolute;
                right: -4px;
                left: -4px;
                top: -4px;
                bottom: -4px;
                border-radius: 100%;
                z-index: -1;
                background-color: rgba( white, 0.1 );
                display: flex;
            }
        }
    }

    .glyph, .glyph-shadow {
        height: 100%;
        border-radius: 10px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .glyph-shadow {
        opacity: 0;
        position: absolute;
        z-index: -1;
        top: 1.5px;
        left: 1.5px;
        filter: blur( 2px );
        background-image-tint: black;
    }

    .glyph-wrapper {
        align-items: center;
        justify-content: flex-end;
    }

    .action {
        font-size: $font-normal;
        text-shadow: $text-shadow;
        color: white;
        justify-content: flex-end;
        text-align: right;
        flex-grow: 1;
    }

    &.noaction {
        .action {
            display: none;
        }
    }

    &.active {
        .glyph {
            // background-image-tint: $accent;
        }
    }
}
