@import "/UI/_Theme.scss";

.input-hint {
    align-items: center;
    padding: 4px;
    flex-direction: row-reverse;

    .glyph, .glyph-shadow {
        height: 100%;
        border-radius: 10px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .glyph-shadow {
        position: absolute;
        z-index: -1;
        top: 1.5px;
        left: 1.5px;
        filter: blur( 2px );
        background-image-tint: black;
    }

    .glyph-wrapper {
        margin-left: 16px;
        align-items: center;
        justify-content: flex-end;
    }

    .action {
        font-size: $font-normal;
        color: white;
        text-align: right;
        text-shadow: $text-shadow;
        flex-grow: 1;
    }

    &.noaction {
        .action {
            display: none;
        }
    }

    &.active {
        .glyph {
            background-image-tint: gray;
        }
    }
}
