@using Sandbox.UI;
@namespace Poker.UI

<root class="player @PlayerClasses( Player )">

	<img src="avatar:@Player.Client.SteamId" class="avatar" />

	<div class="right">
			
	<ptext class="name">@Player.Client.Name</ptext>
	<ptext class="money">$@Player.Money</ptext>

	</div>

</root>

@code
{
	public Poker.Player Player { get; set; }

	string PlayerClasses(Poker.Player player)
	{
		if (player.IsMyTurn)
			return "my-turn";

		if (player.HasFolded)
			return "has-folded";

		return "";
	}
}
