@using Sandbox.UI;
@namespace Poker.UI

<root class="player @PlayerClasses( Player )">

	<div class="indicator"></div>

	<avatar @ref="Avatar"></avatar>
	
	<div class="right">
		<pokerlabel class="money">$@Player.Money</pokerlabel>
		<pokerlabel class="status">@Player.StatusText</pokerlabel>
	</div>

</root>

@code
{
	public Player Player { get; set; }
	public Avatar Avatar { get; set; }

	string PlayerClasses(Poker.Player player)
	{
		if (player.IsMyTurn)
			return "my-turn";

		if (player.HasFolded)
			return "has-folded";

		return "";
	}

	protected override void OnAfterTreeRender(bool firstTime)
	{
		Avatar.Client = Player.Client;

		foreach ( var pokerLabel in ChildrenOfType<PokerLabel>() )
		{
			pokerLabel.Update();
		}
	}
}
