@import "/UI/_Theme.scss";

.player-list {
    position: absolute;
    bottom: 0;
    left: $safe-area-x;
    padding: 20px 20px $safe-area-y 20px;
    flex-direction: column;
}

.player {
    flex-direction: row;
    padding: 10px;
    transition: all 150ms ease;
    background-color: $background;
    border-radius: 10px;
    margin: 3px 0;
    width: 250px;
    align-items: center;

    &.has-folded {
        opacity: 0.5;
    }

    .player-name {
        opacity: 0;
        position: absolute;
        left: 82px;
        top: 8px;
        align-items: center;
        justify-content: center;
        transform: translateX( -10px );
        font-size: $font-big;
        font-weight: $weight-big;
        text-shadow: $text-shadow;
    }

    .avatar {
        width: 64px;
        aspect-ratio: 1;
        aspect-ratio: 1;
        background-size: cover;
    }

    .right {
        padding-left: 8px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-shadow: $text-shadow;

        .money {
            label, iconpanel {
                font-size: $font-big;
                font-weight: $weight-big;
            }
        }
    }

    .indicator {
        width: 0px;
        height: 75%;
        background-color: white;
        margin: 0 0;
        border-radius: 100%;
        transition: all 100ms ease;
    }

    &.my-turn {
        background-color: $accent;
    }
}
