<link rel="stylesheet" href="PlayerList.scss" />

<div class="player-list">

    <div class="player">

        <div class="avatar"></div>

        <div class="right">

            <text class="money">$500</text>
            <text class="status">High Card</text>

        </div>

    </div>

    <div class="player">

        <div class="avatar"></div>

        <div class="right">

            <text class="money">$500</text>
            <text class="status winner">Two Pairs, wins $5000</text>

        </div>

    </div>

    <div class="player">

        <div class="avatar"></div>

        <div class="right">

            <text class="money">$500</text>
            <text class="status">High Card</text>

        </div>

    </div>

    <div class="player">

        <div class="avatar"></div>

        <div class="right">

            <text class="money">$500</text>
            <text class="status">High Card</text>

        </div>

    </div>

</div>