@import "/UI/_Theme.scss";

.pots {
    position: absolute;
    top: $safe-area-y;
    right: $safe-area-x;
    flex-direction: column;
}

.pot {
    width: 250px;
    align-items: center;
    justify-content: flex-end;
    font-size: $font-normal;
    text-shadow: $text-shadow;

    .name {
    }

    .value {
        width: 100px;
        text-align: right;
        font-weight: 800;
        font-size: $font-big;
    }
}
