@using Sandbox.UI;
@using System;
@using System.Threading.Tasks;
@namespace Poker.UI

<root class="winner-screen">

	<section>
	
		<img src="avatar:@WinnerId" class="avatar" />

		<cell>
			<label class="title">@Winner Wins</label>
			<row class="subtitle">
				$@WinAmount | @(WinRank.ToDisplayString())
			</row>
		</cell>
	
	</section>

</root>

@code
{
	public static WinnerScreen Instance { get; set; }

	private string Winner { get; set; }
	private long WinnerId { get; set; }
	private int WinAmount { get; set; }
	private HandRank WinRank { get; set; }

	public WinnerScreen()
	{
		Instance = this;
	}

	protected override int BuildHash()
	{
		return HashCode.Combine(Time.Now);
	}

	private async Task ShowWinnerScreen( string winner, long winnerId, int winAmount, HandRank winRank )
	{
		Winner = winner;
		WinnerId = winnerId;
		WinAmount = winAmount;
		WinRank = winRank;

		SetClass("visible", true);

		await GameTask.DelaySeconds(5.0f);

		SetClass("visible", false);
	}
}
