@import "/UI/Styles/_Theme.scss";

.avatar {
    background-color: #000000;
    border-radius: 100%;
    overflow: hidden;

    .avatar-scene {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
}
