@import "/UI/Styles/_Theme.scss";

.betting {
    opacity: 0;
    flex-direction: column;
    align-items: center;

    &.visible {
        opacity: 1;
    }

    .raise {
        bottom: 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px;

        row {
            align-items: center;
            gap: 10px;
        }

        column {
            flex-direction: column;
            align-items: flex-end;
            gap: 10px;
        }

        .input-hint {
            flex-direction: row-reverse;
            align-items: center;
        }

        .slider {
            width: 300px;
        }

        .bet-text {
            background-color: rgba( $background-dark, 0.25 );
            border-radius: 5px;
            padding: 10px;
            width: 100px;
            justify-content: center;

            label {
                text-align: center;
            }
        }
    }
}
