@import "/UI/Styles/_Theme.scss";

.controls {
    position: absolute;
    right: $safe-area-x;
    bottom: 0;
    flex-direction: column;
    padding: 10px;
    padding-bottom: $safe-area-y;

    .input-hint {
        flex-direction: row-reverse;
        align-items: center;
    }
}