@import "/UI/Styles/_Theme.scss";

.emotes {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    padding-bottom: $safe-area-y;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    transform: scale( 1.1 );
    transition: all 150ms ease;
    z-index: 100;
    justify-content: center;
    background-color: $gradient-a;
    backdrop-filter: blur( 10px );

    &.visible {
        transform: scale( 1.0 );
        opacity: 1;
        pointer-events: all;
    }

    .selected-action {
        background-color: rgba( $background-dark, 0.5 );
        padding: 10px 20px;
        border-radius: 10px;
        margin-bottom: 20px;
        opacity: 0;
        transition: opacity 150ms ease;

        &.visible {
            opacity: 1;
        }
    }

    .radial-wheel {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        position: relative;
        background: radial-gradient( $gradient-a, $gradient-b );

        .item {
            position: absolute;
            margin: -54px -24px;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            width: 48px;
            height: 96px;

            .icon {
                font-family: fa6-solid;
                font-size: 24px;
                border: 1px solid transparent;
                transition: border 150ms ease;
                width: 48px;
                height: 48px;
                padding: 1px 0 0 1px;
                align-items: center;
                justify-content: center;
                border-radius: 100%;

                &:hover {
                    border: 1px solid white;
                }
            }

            .action {
                display: none;
            }
        }
    }
}
