@import "/UI/Styles/_Theme.scss";

.event-feed {
    position: absolute;
    top: 200px;
    left: 50%;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50%);

    .event-entry {
        padding: 4px 16px;
        background-color: #000000;
        border-radius: 4px;
        margin: 4px;
        transform-origin: 0% 50%;
        transition: all 150ms ease;
        align-items: center;

        &:intro, &:outro {
            transform: scale( 0 );
            opacity: 0;
        }

        inner {
            min-height: 32px;
            min-width: 100px;
            height: 100%;
            align-items: center;
            justify-content: center;
        }

        inner > pokerlabel, inner > money {
            min-width: 100px;
        }

        label {
            height: 100%;
            font-size: $font-big;
            font-weight: $weight-big;
            text-align: center;
            transition: all 50ms ease;
        }

        money {
            margin-left: 10px;

            iconpanel, label {
                font-size: $font-big;
                font-weight: $weight-big;
            }
        }
    }
}
