@import "/UI/Styles/_Theme.scss";

@import "/UI/Styles/Slider.scss";

@import "/UI/Styles/Avatar.scss";
@import "/UI/Styles/Betting.scss";
@import "/UI/Styles/Card.scss";
@import "/UI/Styles/CommunityCards.scss";
@import "/UI/Styles/Controls.scss";
@import "/UI/Styles/DebugMenu.scss";
@import "/UI/Styles/Emotes.scss";
@import "/UI/Styles/InputHint.scss";
@import "/UI/Styles/Money.scss";
@import "/UI/Styles/Ranking.scss";
@import "/UI/Styles/NameTag.scss";
@import "/UI/Styles/PokerChatBox.scss";
@import "/UI/Styles/PokerLabel.scss";
@import "/UI/Styles/Pots.scss";
@import "/UI/Styles/VoiceSpeaker.scss";
@import "/UI/Styles/WinnerScreen.scss";

.outer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background: linear-gradient( to bottom, #000000, #00000000 25%, #00000000 75%, #000000 );
    background-image-tint: rgba( white, 0.25 );

    &.devcamera {
        opacity: 0;
    }
}

.main-panel {
    height: 1080px;
    width: 1920px;
}

.wip {
    left: 0;
    flex-direction: column;
    position: absolute;
    top: 150px;
    width: 380px;

    cell {
        flex-grow: 1;
        align-items: center;
        flex-direction: column;

        row {
            padding: 5px 10px;
            padding-left: $safe-area-x;
            border-radius: 5px;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            gap: 5px;
            width: 280px;
        }

        dummy {
            flex-grow: 1;
        }
    }
}

.wip {
    // Extrabold italic
    font-weight: $weight-normal;
    font-size: $font-normal;
    text-shadow: $text-shadow;
}