@import "/UI/Styles/_Theme.scss";

.chat-box {
    position: absolute;
    bottom: 0px;
    left: $safe-area-x;
    z-index: 100;
    flex-direction: column;
    width: 500px;
    height: 320px;
    border-radius: 5px;
    padding: 10px;
    transition: opacity 150ms ease;
    padding-bottom: $safe-area-y;

    textentry {
        opacity: 0;
        color: white;
        padding: 10px 15px;
        padding-bottom: 20px;
        width: 100%;
        background-color: $background-dark;
        border-radius: 10px;

        .placeholder {
            position: absolute;
            top: 10px;
            left: 15px;
            color: rgba( white, 0.5 );
        }

        &.has-text {
            .placeholder {
                opacity: 0;
            }
        }
    }

    .chat-canvas {
        flex-direction: column;
        align-items: flex-start;
        overflow: scroll;
        height: 100%;
    }

    &.open {
        background: $background-gradient;
        backdrop-filter: $blur;
        border-radius: 10px 10px 0 0;
        background: linear-gradient(to top, $gradient-a, $gradient-b);

        textentry {
            opacity: 1;
        }

        pointer-events: all;
    }

    &.fade {
        transition: opacity 500ms ease;
        opacity: 0;
    }
}

chatentry {
    color: white;
    transition: all 0.1s ease-out;
    opacity: 1;
    max-height: 200px;
    max-width: 100%;
    text-shadow: $text-shadow;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba( $background-dark, 0.5 );
    padding: 5px 15px;
    border-radius: 10px;
    margin-bottom: 3px;
    flex-shrink: 0;

    &:intro {
        max-height: 0px;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        opacity: 0;
    }

    &:outro {
        opacity: 0;
        transition: all 2s ease-out;
    }

    &.info {
        .message {
            font-style: italic;
            font-weight: 500;
            color: rgba( white, 0.75 );
        }
    }

    image {
        border-radius: 100%;
        width: 32px;
        height: 32px;
        margin-right: 10px;
        margin-left: -5px;
    }

    .name {
        padding-right: 10px;
        font-weight: 600;
        color: $accent;
    }

    .message {
        flex-grow: 1;
    }

    &.noname .name {
        display: none;
    }

    &.noavatar image {
        display: none;
    }

    &.is-lobby {
        .name {
            color: #ff80f5;
        }
    }
}
