@import "/UI/Styles/_Theme.scss";

.pot {
    position: absolute;
    top: $safe-area-y;
    right: 0;
    padding: 10px;
    padding-right: $safe-area-x;
    align-items: center;
    justify-content: flex-end;
    text-shadow: $text-shadow;

    iconpanel, label {
        font-size: $font-normal;
        font-weight: $weight-normal;
    }

    plabel.value label {
        font-size: $font-big;
        margin-left: 10px;
        text-align: right;

        iconpanel {
            margin-right: 8px;
        }
    }
}
