@import "/UI/Styles/_Theme.scss";

.ranking {
    position: absolute;
    bottom: $safe-area-y;
    left: 50%;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: -25px;
    transform: translate( -50% );

    .row {
        width: 200px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-shadow: $text-shadow;
        margin-bottom: 5px;

        iconpanel, label {
            font-size: $font-normal;
            font-weight: $weight-normal;
        }

        plabel.value label {
            text-align: right;

            iconpanel {
                margin-right: 8px;
            }
        }
    }
}
