@import "/UI/Styles/_Theme.scss";

$form-control-height: 10px;

.slider {
    flex-grow: 1;
    cursor: pointer;
    min-height: $form-control-height;
    align-items: center;
    padding-right: $form-control-height;

    > .thumb {
        background-color: white;
        border-radius: 100px;
        position: relative;
        width: $form-control-height;
        height: $form-control-height;
        transition: all 0.2s ease-out;

        &:hover {
            background-color: $accent;
        }
    }

    &:active {
        > .thumb {
            background-color: $accent;
        }
    }

    > .track {
        position: absolute;
        left: 0;
        right: 0;
        height: 10px;
        background-color: rgba( $background-dark, 0.25 );
        border-radius: 5px;
    }
}