@import "/UI/Styles/_Theme.scss";

voicespeaker {
    position: absolute;
    bottom: 100px;
    right: $safe-area-x;
    opacity: 0.0;
    font-family: "material icons";
    font-size: 80px;
    color: white;
    text-shadow: $text-shadow;
    transition: opacity 150ms ease;

    &.active {
        opacity: 1.0;
    }
}
